body {
	background-color: #000000;
	color: #ffffff;
	align-items: center;
	justify-content: center;
	transition-duration: 0.5s;
}

button {
	width: 200px;
	height: 100px;
}

button:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}

.bought {
	background: #77bf5f !important;
	background-color: #77bf5f !important;
}

#app {
	
}
